<p>
  Share your heart beat with your friends.<br>
  You need <a rel="nofollow" target="_blank" href="https://www.fitbit.com/jp/chargehr">Fitbit Charge HR</a>.
</p>

<div class="button-container">
  <form method="GET" action="/auth/fitbit_oauth2">
    <button><i class="fa fa-check fa-5x">Login with Fitbit</i></button>
  </form>
</div>

<h2>Example</h2>

<ul>
  <li><a href="/bpm/78">BPM78</a></li>
  <li><a href="/bpm/90">BPM90</a></li>
  <li><a href="/bpm/130">BPM130</a></li>
  <li><a href="/bpm/180">BPM180</a></li>
  <li><a href="/bpm/300">BPM300</a></li>
  <li><a href="/bpm/960">BPM960</a></li>
</ul>
