<p>
  Share your heart beat with your friends.<br>
  You need <a rel="nofollow" target="_blank" href="https://www.fitbit.com/jp/chargehr">Fitbit Charge HR</a>.
</p>

<div class="button-container">
  <form method="GET" action="/auth/fitbit_oauth2">
    <button><i class="fa fa-check fa-5x">Login with Fitbit</i></button>
  </form>
</div>
