<p>
  Hi, <%= session[:user_name] %>
</p>

<div class="button-container">
  <form method="GET" action="/bpm">
    <button>
      <i class="fa fa-heartbeat fa-5x">Measure</i>
    </button>
  </form>
</div>

<footer>
  <a href="/logout"><small>(logout)</small></a>
</footer>

<h2>Example</h2>

<ul>
  <li><a href="/bpm/78">BPM78</a></li>
  <li><a href="/bpm/90">BPM90</a></li>
  <li><a href="/bpm/130">BPM130</a></li>
  <li><a href="/bpm/180">BPM180</a></li>
  <li><a href="/bpm/300">BPM300</a></li>
  <li><a href="/bpm/960">BPM960</a></li>
</ul>
